<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form-quiz" class="panel panel-default" action="#" enctype="multipart/form-data">
			<div class="panel-heading">Informações do Quiz</div>

			<input type="hidden" id="quiz_id" name="quiz_id" value="<%=(item ? item.quiz_id : '') %>" />

			<div class="panel-body no-bottom">
				<div class="form-group">
					<label for="quiz_nome">Nome do Quiz</label>
					<input type="text" id="quiz_nome" name="quiz_nome" class="form-control" maxlength="100" required value="<%=(item ? item.quiz_nome : '') %>" />
				</div>

				<div class="form-group">
					<label for="quiz_desc">Descrição</label>
					<textarea id="quiz_desc" rows="3" name="quiz_desc" class="form-control" maxlength="500" style="resize: vertical;"  > <%=(item ? item.quiz_desc : '') %></textarea>
				</div>

				<div class="form-group">
					<label for="quiz_style">HTML Personalizado (Final do head)</label>
					<textarea id="quiz_style" rows="3" name="quiz_style" class="form-control" maxlength="1000" style="resize: vertical;"  ><%=(item ? item.quiz_style : '') %></textarea>
				</div>

				<div class="form-group">
					<label for="quiz_script">HTML Personalizado (Final do body)</label>
					<textarea id="quiz_script" rows="3" name="quiz_script" class="form-control" maxlength="1000" style="resize: vertical;" > <%=(item ? item.quiz_script : '') %></textarea>
				</div>

				<div class="form-group">
					<label for="id_tipo">Tipo</label>
					<select id="id_tipo" class="form-control" name="id_tipo" size="1" >
						<option value="" data-description="">Selecione...</option>
						<% for (var i = 0; i < lista.length; i++) { %>
						<option value="<%= lista[i].tipo_id %>" <%=((item && item.id_tipo === lista[i].tipo_id) ? 'selected="selected"' : '') %> data-description="<%= lista[i].tipo_desc %>"> <%= lista[i].tipo_nome %></option>
						<% } %>
					</select>
					<i id="lblTipo"></i>
				</div>

				<div class="form-group">
					<input type="file" id="imagem" name="imagem" style="display: none;" />
				</div>

				<% if (item) { %>
					<div class="form-group">
						<label>Imagem do Quiz (atual)</label>
						<img class="imagem" id="imagemquizatual" src="<%- (item.quiz_img ? (root + "/uploads/quiz/" + item.quiz_id + "/" + item.quiz_id + ".jpg?" + item.quiz_img) : (root + "/imagens/placeholder.png")) %>" />
					</div>
				<% } %>

			</div>

			<div class="panel-footer">
				<button class="btn btn-success" type="submit"> <%=(item ? 'Salvar Quiz' : 'Criar Quiz') %> </button>
			</div>
		</form>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.filepond--root {
		font-size: 1.5rem;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	prepareFilePond("imagem", true);

	$("#tipo").on("change", function () {
		$("#lblTipo").text($("#tipo option:selected").attr("data-description"));
	});

	$("#form-quiz").validate({
		rules: {
			quiz_nome: {
				required: true,
				maxlength: 100
			},
			quiz_desc: {
				required: false,
				maxlength: 500,
			},
			quiz_style: {
				required: false,
				maxlength: 1000,
			},
			quiz_script: {
				required: false,
				maxlength: 1000,
			},
			id_tipo: {
				required: true,
				number: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			var formData = new FormData(form);
			formData.append('quiz_id', parseInt($("#quiz_id").val()) );
			addFilePondToFormData("imagem", formData);
	
			Notification.wait();

			//<% if (item) { %>
				
			JsonWebApi.postFormData("<%- root %>/api/quiz/alterar", formData, function (response) {
				if (response.success) {
					Notification.success("Quiz alterado com sucesso " + emoji.happy)
				} else {
					Notification.error(response.value, true);
				}
			});
			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/quiz/salvar", formData, function (response) {
				if (response.success) {
					resetForm("#form-quiz");
					location.href = "/quiz/criarPerg?quiz_id=" + response.value;
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
