<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form-quiz" class="panel panel-default" action="#" enctype="multipart/form-data">
			<div class="panel-heading">Informações do Quiz</div>
			<div class="panel-body no-bottom">
				<div class="form-group">
					<label for="titulo">Nome do quiz:</label>
					<input type="text" id="titulo" name="titulo" class="form-control" required />
				</div>

				<div class="form-group">
					<label for="descricao">Descrição: </label>
					<textarea id="desc" rows="3" name="desc" class="form-control" style="resize: vertical;"></textarea>
				</div>

				<div class="form-group">
					<label for="tipo">Tipo:</label>
					<select id="tipo" class="form-control" name="tipo" size="1">
						<option value="" data-description="">Selecione...</option>
						<% for (var i = 0; i < lista.length; i++) { %>
						<option value="<%= lista[i].tipo_id %>" data-description="<%= lista[i].tipo_desc %>"> <%= lista[i].tipo_nome %></option>
						<% } %>
					</select>
					<i id="lblTipo"></i>
				</div>

				<div class="form-group">
					<input type="file" id="imagem" name="imagem" style="display: none;" />
				</div>
			</div>

			<div class="panel-footer">
				<button class="btn btn-default btn-outline" type="reset">Limpar</button>
				<button class="btn btn-success" type="submit">Criar</button>
				<!--<input value="Salvar Alterações" class="btn btn-primary btn-lg btn-block" type="submit" />-->
			</div>
		</form>
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.filepond--root {
		font-size: 1.5rem;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	"use strict";

	prepareFilePond("imagem", true);

	$("#tipo").on("change", function () {
		$("#lblTipo").text($("#tipo option:selected").attr("data-description"));
	});

	$("#form-quiz").validate({
		rules: {
			titulo: {
				required: true
			},
			desc: {
				required: false
			},
			tipo: {
				required: true
			}
		},

		submitHandler: function (form) {
			//if ($.active)
			//	return;

			if (JsonWebApi.active)
				return;

			var formData = new FormData(form);
			addFilePondToFormData("imagem", formData);
	
			Notification.wait();

			JsonWebApi.postFormData("/api/quiz/salvar", formData, function (response) {
				if (response.success) {
					resetForm("#form-quiz");
                    location.href = "/quiz/criarPerg?quiz_id=" + response.value;
				} else {
					Notification.error(response.value, true);
				}
			});
		}
	});
</script>
