<div class="panel panel-default">
    <div class="panel-body">
        <div id="secao" class="text-center">
            <img style="padding-bottom: 30px;" src="<%- root %>/uploads/quiz/<%- quiz.quiz_id %>/<%- quiz.quiz_id %>.jpg?v=<%- quiz.quiz_img %>" />
            <h1 style='text-align: center;'><%= quiz.quiz_nome %></h1>
            <p style='text-align: center;'><%= quiz.quiz_desc %></p>
            <button name="start" class="btn-prox" onclick="atualizar(); startTimer()" type="button">Iniciar</button>
        </div>
    </div>
    
    
</div>

<%- contentFor("styles") %>
<style type="text/css">
    body {
        background-color: #fafafa;
        /* background-color: #006194; */
    }

    h1, h2, p {
        margin: 0px 0px 15px;
        text-align: left;
    }

    .numeracao {
        border: 2px solid #006194;
        padding: 10px;
        float: left;
        width: auto;
        border-radius: 7px;
        margin: 0 15px 15px 0;
        color: #006194;
        font-weight: 800;
    }

    .panel {
        background-color: #fff;
        margin-top: 30px;
        margin-bottom: 200px;
    }

    .quiz-imagem, .pergunta-imagem, .noticia-imagem {
        display: block;
        margin: 40px auto 15px auto;
        max-width: 100%;
        max-height: 200px;
    }

    #secao > p:last-child {
        margin-bottom: 0px;
    }

    .btn-default {
        background-color: #ebf3f6;
    }

    .btn-prox {
        background-color: #006194;
        border-radius: 8px;
        width: 100%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border: none;
        color: #fff;
        padding: 15px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        }
 
    .btn-prox:hover{
        background-color: #457c99;
    }

    .timer{
        display: none;
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 15px; 
        width: 170px;
        background-color: #006194;
        color: #fff;
        font-size: 15px;
        margin-bottom: 10px;
    }

</style>
<%- quiz_style %>

<%- contentFor("scripts") %>
<script type="text/javascript">
    "use strict";
    var secao = $("#secao");
    var carregando = false;
    var quiz = <%- JSON.stringify(quiz) %>;
    var respondido = false;
    var perguntaAtual = 0;
    var acertos = 0;
    var pontuacao = 0;
    var respostas = [];

    //Timer -----
    let totalSeconds = 0;

    // If timer shoud be visible
    if(quiz.quiz_timer === 1){
		let timerBlock = document.getElementById('timer')

		timerBlock.style.display = "block";
	}

    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }
    // Simple formating for 00:00
    function pad(val) {
        let valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }

    let interval = null ;
    function startTimer(){
        interval = setInterval(setTime, 1000);
    }

    let minutesText;
    let SecondsText;
    function stopTimer(){
        // Get the text
        minutesText = $("#minutes").text();
        SecondsText = $("#seconds").text();
        clearInterval(interval)
    }

    function resetTimer(){
        totalSeconds = 0;

        secondsLabel.innerHTML = pad(totalSeconds);
        minutesLabel.innerHTML = pad(totalSeconds);

        startTimer()
    }
    // ------
    

    function atualizar() {
        if (carregando)
            return;
        
        respondido = false;
        carregando = true;
        
        if (perguntaAtual < quiz.perguntas.length) {
            secao.fadeOut(400, "swing", exibirProximaPergunta);
        } else {
            secao.fadeOut(400, "swing", exibirEspera);
        }

    }

    function exibirProximaPergunta() {
        var pergunta = quiz.perguntas[perguntaAtual];
        
        var html = '<img class="pergunta-imagem" src="<%- root %>/uploads/quiz/' + quiz.quiz_id + '/';
        if (pergunta.perg_img)
            html += pergunta.perg_id + '/p' + pergunta.perg_id + ".jpg?v=" + pergunta.perg_img;
        else
            html += quiz.quiz_id + ".jpg?v=" + quiz.quiz_img;
        html += '" />';

        html += '<div class="numeracao">' + (perguntaAtual + 1) + ' de ' + quiz.perguntas.length + '</div>';

        if (pergunta.perg_titulo)
            html += '<h2>' + pergunta.perg_titulo + '</h2>';
        if (pergunta.perg_texto)
            html += '<p>' + pergunta.perg_texto + '</p>';

        html += '<div id="noticia" class="noticia" style="display: none;">' +
            '<hr />';
        if (pergunta.perg_resp_img)
            html += '<img class="noticia-imagem" src="<%- root %>/uploads/quiz/' + quiz.quiz_id + '/' + pergunta.perg_id + '/r' + pergunta.perg_id + '.jpg?v=' + pergunta.perg_resp_img + '" />';
        html +=
            '<p class="noticia-texto">' +
            pergunta.perg_resp_texto +
            '</p>'+
            '<p class="noticia-aguarde" id="noticia-aguarde"><img alt="Aguarde" src="<%- root %>/imagens/aguarde.gif" /></p>' +
            '<p class="noticia-botao" id="noticia-botao" style="display: none;"><button type="button" onclick="atualizar()" class="btn-prox">Próxima</button></p>' +
            '<hr />' +
            '</div>';
        
        for (var i = 0; i < pergunta.alternativas.length; i++) {
            html +=
                '<p ><button style=" white-space: normal;"' +
                (pergunta.alternativas[i].alt_correta ? 'id="botao-correto"'  : '') +
                '  type="button" class="btn btn-default btn-lg btn-block" onclick="responder(this, ' +
                pergunta.alternativas[i].alt_correta +
                ',' +
                pergunta.alternativas[i].alt_id +
                ')" >' + (pergunta.alternativas[i].alt_correta ? '<i id="icon-correto" ></i>'  : '')  +
                pergunta.alternativas[i].alt_texto +
                '</button>' +
                '</p>';
        }
        secao.html(html);

        secao.fadeIn(400, "swing", function () {
            // Apenas para liberar o clique do botão!
            carregando = false;
        });

        
    }

    function responder(botao, correta, alt_id) {
        // Vamos utilizar a variável carregando para prevenir
        // "dedos rápidos", que clicam em botões sem a animação
        // ter acabado!
        if (respondido || carregando)
            return;

        respondido = true;

        if (correta) {
            acertos++;
            pontuacao += quiz.perguntas[perguntaAtual].perg_pontuacao;
        } else {
            botao.className = "btn btn-danger btn-lg btn-block";
            botao.innerHTML += '<i class="fa fa-times fa-fw"></i>'
        }

        document.getElementById("botao-correto").className = "btn btn-success btn-lg btn-block";
        document.getElementById('icon-correto').className = "fa fa-check fa-fw"

        // Armazena um objeto com o id da questão e da
        // resposta para enviar para o servidor ao final
        respostas.push({
            perg_id: quiz.perguntas[perguntaAtual].perg_id,
            alt_id: alt_id
        });

        perguntaAtual++;

        exibirNoticia();
    }

    function exibirNoticia() {
        $("#noticia").fadeIn(400, "swing");
        ocultarAguarde();
    }

    function ocultarAguarde() {
        $("#noticia-aguarde").fadeOut(400, "swing", exibirBotao);
    }

    function exibirBotao() {
        $("#noticia-botao").fadeIn(400, "swing");
    }
    
    function exibirEspera() {

        stopTimer()

        var html = '<p>Carregando resultado...</p>' +
            '<img alt="Aguarde" src="<%- root %>/imagens/aguarde.gif" />';
        
        secao.html(html);
        
        secao.fadeIn(400, "swing", enviarTotais);
    }
    
    function enviarTotais() {
        secao.fadeOut(400, "swing", exibirTotais);
        /*
        $.ajax({
            // Na vida real, esta URL deveria apontar para
            // alguma API do servidor!!!
            url: "perguntas.json",
            method: "post",
            
            // Envia todas as respostas para o servidor
            data: JSON.stringify(respostas),
            contentType: "application/json",
            
            success: function (data) {
                secao.fadeOut(400, "swing", exibirTotais);
            },
            error: function () {
                secao.text("Algo saiu errado! Por favor, tente novamente mais tarde.");
            }
        });
        */
    }
    
    function exibirTotais() {
        var perc = Math.round(100 * acertos / quiz.perguntas.length);

        
        
        var html = '<img style="padding-bottom: 30px;" src="<%- root %>/uploads/quiz/<%- quiz.quiz_id %>/<%- quiz.quiz_id %>.jpg?v=<%- quiz.quiz_img %>" /> <h2 style="padding-bottom: 30px;text-align:center;">';
        if (perc >= 50)
            html += 'Parabéns você está por dentro das notícias atuais! Acertou ' + acertos + ' de ' + quiz.perguntas.length + ' perguntas.';
        else
            html += 'Não foi dessa vez. Acertou ' + acertos + ' de ' + quiz.perguntas.length + ' perguntas.';
        html += '</h2>';
        
        html += '<div  class="progress">' +
            '<div  class="progress-bar progress-bar-striped ' +
            (perc >= 50 ? 'progress-bar-success' : 'progress-bar-danger') +
            ' active" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: ' +
            perc +
            '%;">' +
            perc +
            '%</div>' +
            '</div>';
        
        html += '<p style="text-align:center; margin-top: 20px;"><button type="button" onclick="reiniciar(); resetTimer()" class="btn-prox">Fazer novamente</button></p>';
        
        secao.html(html);
        
        secao.fadeIn(400, "swing", function () {
            carregando = false;
        });
    }

    function reiniciar() {
        if (carregando)
            return;
        
        perguntaAtual = 0;
        acertos = 0;
        pontuacao = 0;
        respostas = [];
        atualizar();
    }
    
</script>
<%- quiz_script %>
