<div class="panel panel-default">
    <div><header></header></div>
    <div class="panel-body">
        <div id="secao" class="text-center">
            <h1>Quiz do Estadão</h1>
            <p>Descrição...</p>
            <button name="start" class="btn btn-primary" onclick="atualizar()" type="button">Iniciar</button>
        </div>
    </div>
</div>

<%- contentFor("styles") %>
<style type="text/css" name="personalizado">

        header {
    		padding: 175px 25px 75px;
    		text-align: center;
    		background-image: url('<%- root %>/imagens/logo.png'); /*imagem do quiz*/
   			background-size: cover;
   		 	background-position: center; 
		}

    	body {
			background-color: #fafafa;
		}

</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
    "use strict";
    var secao = $("#secao");
    var carregando = false;
    var quiz = {
        "quiz_id": 1,
        "quiz_nome": "Quiz Teste",
        "id_tipo": 1,
        "perguntas": [
            {
                "perg_id": 100,
                "perg_titulo": "Uma Pergunta",
                "perg_texto": "Blah blah",
                "perg_img": 1,
                "perg_pontuacao": 10,
                "perg_resp_texto": "Notícia",
                "perg_resp_img": 1,
                "alternativas": [
                    {
                        "alt_id": 101,
                        "alt_texto": "a - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 102,
                        "alt_texto": "b - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 103,
                        "alt_texto": "c - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 104,
                        "alt_texto": "d - Texto 1 XXX",
                        "alt_img": 1,
                        "alt_correta": 1
                    },
                ]
            },
            {
                "perg_id": 200,
                "perg_titulo": "Uma Pergunta 2",
                "perg_texto": "Blah blah 2",
                "perg_img": 1,
                "perg_pontuacao": 10,
                "perg_resp_texto": "Notícia 2",
                "perg_resp_img": 1,
                "alternativas": [
                    {
                        "alt_id": 201,
                        "alt_texto": "a - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 202,
                        "alt_texto": "b - Texto 1 XXX",
                        "alt_img": 1,
                        "alt_correta": 1
                    },
                    {
                        "alt_id": 203,
                        "alt_texto": "c - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 204,
                        "alt_texto": "d - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                ]
            },
            {
                "perg_id": 300,
                "perg_titulo": "Uma Pergunta 3",
                "perg_texto": "Blah blah 3",
                "perg_img": 1,
                "perg_pontuacao": 10,
                "perg_resp_texto": "Notícia 3",
                "perg_resp_img": 1,
                "alternativas": [
                    {
                        "alt_id": 301,
                        "alt_texto": "a - Texto 1 XXX",
                        "alt_img": 1,
                        "alt_correta": 1
                    },
                    {
                        "alt_id": 302,
                        "alt_texto": "b - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 303,
                        "alt_texto": "c - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 304,
                        "alt_texto": "d - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                ]
            },
            {
                "perg_id": 400,
                "perg_titulo": "Uma Pergunta 4",
                "perg_texto": "Blah blah 4",
                "perg_img": 1,
                "perg_pontuacao": 10,
                "perg_resp_texto": "Notícia 4",
                "perg_resp_img": 1,
                "alternativas": [
                    {
                        "alt_id": 401,
                        "alt_texto": "a - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 402,
                        "alt_texto": "b - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                    {
                        "alt_id": 403,
                        "alt_texto": "c - Texto 1 XXX",
                        "alt_img": 1,
                        "alt_correta": 1
                    },
                    {
                        "alt_id": 404,
                        "alt_texto": "d - Texto 1",
                        "alt_img": 1,
                        "alt_correta": 0
                    },
                ]
            },
        ]
    };
    var respondido = false;
    var perguntaAtual = 0;
    var acertos = 0;
    var pontuacao = 0;
    var respostas = [];
    
    function atualizar() {
        if (carregando)
            return;
        
        respondido = false;
        carregando = true;
        
        if (perguntaAtual < quiz.perguntas.length) {
            secao.fadeOut(400, "swing", exibirProximaPergunta);
        } else {
            secao.fadeOut(400, "swing", exibirEspera);
        }
    }

    function exibirProximaPergunta() {
        var pergunta = quiz.perguntas[perguntaAtual];
        
        var html = '<h2>' + pergunta.perg_titulo + '</h2>';
        
        for (var i = 0; i < pergunta.alternativas.length; i++) {
            html +=
                '<button ' +
                (pergunta.alternativas[i].alt_correta ? 'id="botao-correto"' : '') +
                ' type="button" class="btn btn-default btn-outline btn-lg btn-block" onclick="responder(this, ' +
                pergunta.alternativas[i].alt_correta +
                ',' +
                pergunta.alternativas[i].alt_id +
                ')" > ' +
                pergunta.alternativas[i].alt_texto +
                '</button>' +
                '</p>';
        }
        
        html += '<div id="noticia" class="noticia" style="display: none;">' +
            '<hr />' +
            '<img class="noticia-imagem" src="<%- root %>/uploads/quiz/' + quiz.quiz_id + '/perguntas/resp' + pergunta.perg_id + '.jpg?v=' + pergunta.perg_resp_img + '" />' +
            '<div class="noticia-texto">' +
            pergunta.perg_resp_texto +
            '</div>'+
            '<hr />' +
            '<div class="noticia-aguarde" id="noticia-aguarde"><img src="<%- root %>/imagens/loading-white.gif" /></div>' +
            '<div class="noticia-botao" id="noticia-botao" style="display: none;"><button type="button" onclick="atualizar()" class="btn btn-primary">Próxima</button></div>';
            '</div>';

        secao.html(html);

        secao.fadeIn(400, "swing", function () {
            // Apenas para liberar o clique do botão!
            carregando = false;
        });
    }

    function responder(botao, correta, alt_id) {
        // Vamos utilizar a variável carregando para prevenir
        // "dedos rápidos", que clicam em botões sem a animação
        // ter acabado!
        if (respondido || carregando)
            return;

        respondido = true;

        //if (opcao.val() == "1") {
        if (correta) {
            acertos++;
            pontuacao += quiz.perguntas[perguntaAtual].perg_pontuacao;
        } else {
            botao.className = "btn btn-danger btn-lg btn-block";
        }
        document.getElementById("botao-correto").className = "btn btn-success btn-lg btn-block";

        // Armazena um objeto com o id da questão e da
        // resposta para enviar para o servidor ao final
        respostas.push({
            perg_id: quiz.perguntas[perguntaAtual].perg_id,
            alt_id: alt_id
        });

        perguntaAtual++;

        exibirNoticia();
    }

    function exibirNoticia() {
        $("#noticia").fadeIn(400, "swing");
        ocultarAguarde();
        //setTimeout(ocultarAguarde, 3000);
    }

    function ocultarAguarde() {
        $("#noticia-aguarde").fadeOut(400, "swing", exibirBotao);
    }

    function exibirBotao() {
        $("#noticia-botao").fadeIn(400, "swing");
    }
    
    function exibirEspera() {
        var html = '<p>Aguarde enquanto carrega...</p>' +
            '<img alt="Aguarde" src="/imagens/aguarde.gif" />';
        
        secao.html(html);
        
        secao.fadeIn(400, "swing", enviarTotais);
    }
    
    function enviarTotais() {
        // @@@ apenas por hora
        secao.fadeOut(400, "swing", exibirTotais);
        /*
        $.ajax({
            // Na vida real, esta URL deveria apontar para
            // alguma API do servidor!!!
            url: "perguntas.json",
            method: "post",
            
            // Envia todas as respostas para o servidor
            data: JSON.stringify(respostas),
            contentType: "application/json",
            
            success: function (data) {
                secao.fadeOut(400, "swing", exibirTotais);
            },
            error: function () {
                secao.text("Algo saiu errado! Por favor, tente novamente mais tarde.");
            }
        });
        */
    }
    
    function exibirTotais() {
        var perc = Math.round(100 * acertos / quiz.perguntas.length);
        
        // Vamos construir o html aqui. Existem outras alternativas...
        var html = '<h2>';
        if (perc >= 50)
            html += 'Parabéns você está por dentro das notícias atuais! Acertou ' + acertos + ' de ' + quiz.perguntas.length + ' perguntas.';
        else
            html += 'Não foi dessa vez. Acertou ' + acertos + ' de ' + quiz.perguntas.length + ' perguntas.';
        html += '</h2>';
        
        html += '<div class="progress">' +
            '<div class="progress-bar progress-bar-striped ' +
            (perc >= 50 ? 'progress-bar-success' : 'progress-bar-danger') +
            ' active" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: ' +
            perc +
            '%;">' +
            perc +
            '%</div>' +
            '</div>';
        
        html += '<p><button type="button" onclick="reiniciar()" class="btn btn-default">Fazer novamente</button></p>';
        
        secao.html(html);
        
        secao.fadeIn(400, "swing", function () {
            carregando = false;
        });
    }
    
    function reiniciar() {
        if (carregando)
            return;
        
        perguntaAtual = 0;
        acertos = 0;
        pontuacao = 0;
        respostas = [];
        atualizar();
    }
    
</script>
